[submodule "_ref/A2A"]
	path = _ref/A2A
	url = https://github.com/google/A2A.git
[submodule "_ref/MetaClaw"]
	path = _ref/MetaClaw
	url = https://github.com/aiming-lab/MetaClaw.git
[submodule "_ref/OpenSandbox"]
	path = _ref/OpenSandbox
	url = https://github.com/alibaba/OpenSandbox.git
[submodule "_ref/TradingAgents"]
	path = _ref/TradingAgents
	url = https://github.com/TauricResearch/TradingAgents.git
[submodule "_ref/deer-flow"]
	path = _ref/deer-flow
	url = https://github.com/bytedance/deer-flow.git
[submodule "_ref/hindsight"]
	path = _ref/hindsight
	url = https://github.com/vectorize-io/hindsight.git
[submodule "_ref/pentagi"]
	path = _ref/pentagi
	url = https://github.com/vxcontrol/pentagi.git
[submodule "_ref/supermemory"]
	path = _ref/supermemory
	url = https://github.com/supermemoryai/supermemory.git
[submodule "_ref/claude_code/claw-code"]
	path = _ref/claude_code/claw-code
	url = https://github.com/instructkr/claw-code.git
[submodule "_ref/claude_code/claurst"]
	path = _ref/claude_code/claurst
	url = https://github.com/Kuberwastaken/claurst.git
[submodule "_ref/TREK"]
	path = _ref/TREK
	url = https://github.com/mauriceboe/TREK.git
[submodule "_ref/autoresearch"]
	path = _ref/autoresearch
	url = https://github.com/karpathy/autoresearch.git
[submodule "_ref/agno"]
	path = _ref/agno
	url = https://github.com/agno-agi/agno.git
[submodule "_ref/OpenWorldLib"]
	path = _ref/OpenWorldLib
	url = https://github.com/OpenDCAI/OpenWorldLib.git
[submodule "_ref/mcp-manager"]
	path = _ref/mcp-manager
	url = https://github.com/Brightwing-Systems-LLC/mcp-manager.git
[submodule "_ref/mempalace"]
	path = _ref/mempalace
	url = https://github.com/MemPalace/mempalace.git
[submodule "_ref/EvoSkill"]
	path = _ref/EvoSkill
	url = https://github.com/sentient-agi/EvoSkill.git
[submodule "_ref/hermes-agent"]
	path = _ref/hermes-agent
	url = https://github.com/nousresearch/hermes-agent.git
[submodule "_ref/cinny"]
	path = _ref/cinny
	url = https://github.com/cinnyapp/cinny.git
[submodule "_ref/t3code"]
	path = _ref/t3code
	url = https://github.com/pingdotgg/t3code.git
[submodule "_ref/onyx"]
	path = _ref/onyx
	url = https://github.com/onyx-dot-app/onyx.git
[submodule "_ref/NornicDB"]
	path = _ref/NornicDB
	url = https://github.com/orneryd/NornicDB.git
[submodule "_ref/Researchwatcher"]
	path = _ref/Researchwatcher
	url = https://github.com/japorto100/research-project.git
[submodule "_ref/claude_code/claw-code-agent"]
	path = _ref/claude_code/claw-code-agent
	url = https://github.com/HarnessLab/claw-code-agent
[submodule "_ref/claude_code/openclaude"]
	path = _ref/claude_code/openclaude
	url = https://github.com/Gitlawb/openclaude
[submodule "_ref/claude_code/openclaw"]
	path = _ref/claude_code/openclaw
	url = https://github.com/openclaw/openclaw
